* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: rgb(27, 105, 114);
}
.header {
  background-color: rgb(35, 58, 207);
  width: 100vw;
  min-width: 425px;
  -webkit-box-shadow: 0px 16px 24px 1px rgba(0, 0, 0, 0.316);
  box-shadow: 0px 16px 24px 1px rgba(0, 0, 0, 0.316);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.title {
  font-family: "Righteous", cursive;
  font-size: 60px;
  text-shadow: 2px 2px 2px #000000;
  color: aquamarine;
}

.addBook_containter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.addBookBtn {
  font-family: "Righteous", cursive;
  font-size: 24px;
  text-shadow: 2px 2px 2px #000000;
  color: aquamarine;
  height: 5vh;
  width: 12vw;
  min-width: 120px;
  background-color: rgb(27, 105, 114);
  border: none;
  border-radius: 5px;
}

.addBookBtn:hover {
  background-color: rgba(35, 58, 207, 0.778);
  transition: 0.4s;
}

.bookForm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  flex-direction: column;
}

.bookForm .text-input {
  width: 28vw;
  max-width: 50%;
  min-width: 250px;
  background-color: rgb(35, 58, 207);
  color: aquamarine;
  font-weight: bold;
  text-indent: 10px;
  -webkit-box-shadow: 0px 8px 27px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 8px 27px 5px rgba(0, 0, 0, 0.22);
}

.text-input::placeholder {
  color: aquamarine;
  font-family: "Righteous", cursive;
  text-indent: 10px;
}

label {
  font-size: 24px;
  margin-top: 20px;
}

input {
  height: 3vh;
  border: solid black 1px;
  border-radius: 5px;
}

.bookForm_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 15px;
  z-index: 10;
  background-color: white;
  width: 420px;
  max-width: 80%;
  height: 40vh;
  text-align: center;
  background-color: rgba(27, 105, 114);
  font-family: "Righteous", cursive;
}

.bookForm_header {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
}

.bookForm_header #close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(27, 105, 114);
  font-size: 2.25rem;
  font-weight: bold;
  padding-right: 20px;
  border-radius: 15px;
}

.addBookSubmit {
  font-family: "Righteous", cursive;
  font-size: 24px;
  background-color: rgb(35, 58, 207);
  color: aquamarine;
  height: 4vh;
  width: 150px;
  border: solid black 1px;
  border-radius: 5px;
  margin-top: 5px;
}

.addBookSubmit:hover {
  background-color: rgba(22, 43, 179, 0.965);
}

.bookForm_title {
  color: aquamarine;
  padding: 10px;
  text-shadow: 2px 2px 2px #000000;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: auto;
  opacity: 1;
  backdrop-filter: blur(5px);
}

.bookContainer {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.book-card {
  font-family: "Righteous", cursive;
  color: aquamarine;
  background-color: rgb(35, 58, 207);
  text-align: center;
  margin: 50px;
  padding: 20px;
  width: 18vw;
  min-width: 200px;
  height: 15vh;
  min-height: 180px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.51);
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.51);
}

.read-button {
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  height: 2vh;
  min-height: 20px;
  font-family: "Righteous", cursive;
}

.read-button:hover {
  background-color: rgb(78, 215, 169);
  transition: all 0.2s ease-out;
}

.delete-button {
  background-color: rgb(231, 104, 104);
  border: none;
  border-radius: 5px;
  height: 2vh;
  min-height: 20px;
  font-family: "Righteous", cursive;
}
.delete-button:hover {
  background-color: rgb(192, 88, 88);
  transition: all 0.2s ease-out;
}

#book-counter {
  color: aquamarine;
  font-family: "Righteous", cursive;
  margin: 20px;
  margin-top: 200px;
  position: relative;
  text-align: center;
  margin-top: 20px;
}


@media screen and (max-width: 768px) {
    .bookContainer {
      flex-direction: column;
      gap: 20px;
    }
  
    .book-card {
      width: 80%;
      margin: 20px auto;
    }
  
    .bookForm_container {
      width: 80%;
      height: 60vh;
    }
  
    .addBookBtn {
      width: 100%;
    }
  
    .text-input {
      width: 80%;
      max-width: 100%;
    }
    
    .header {
      flex-shrink: 0; /* Prevent the header from shrinking */
    }
  }